body {
	background-color: #f7f7f7;
}

code {
	color: #1f4a6f;
}

.fixed-font {
	font-family: Courier, monospace;
}

.main-content {
	padding-top: 60px; /* Keep space for navigation bar */
	padding-bottom: 30px;

	background-color: #fff;
}

.table-game ul {
	margin: 0;
	padding: 0;
}
.table-game ul li {
	display: block;
	list-style: none;
}

.jumbotron-home {
	background-image: url(background.jpg);
	background-size: cover;
	background-position: bottom;
	color: #fff;
	text-align: center;
}
.jumbotron-home h1 {
	font-size: 4em;
}

@media (min-width: 979px) {
	/* Open header dropdown menu on hover */
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

a .fa.big {
	color: #000;
	font-size: 20px;
}

#cb-viz-map {
	text-align: center;
}
#cb-viz-map i {
		font-size: 64px;
}

#cb-viz-controls > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100;
}
